<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.notificationmanagement.mapper.RolesMapper">

    <resultMap id="BaseResultMap" type="com.example.notificationmanagement.pojo.Roles">
            <id property="roleid" column="RoleID" jdbcType="INTEGER"/>
            <result property="rolename" column="RoleName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        RoleID,RoleName
    </sql>
</mapper>
